.container{
    display: grid;
    background-color: aliceblue;
    grid-template-columns: auto auto auto;
}


.item{
    background-color: antiquewhite;
    padding: 20px;

}
img{
    height: 100%;
    width: 100%;
}